.container{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
}

.main{
    height: 100%;
    flex: 3;
    box-sizing: border-box;
    border: 1px solid rgba(34, 34, 34, .25);
    display: flex;
    flex-direction: column;
}
.menuList{
    flex: 1;
    display: flex;
    border-bottom: 1px solid rgba(34, 34, 34, .25);
    padding-top: 10px;
}
.menuList > div{
    border: 1px solid rgba(34, 34, 34, .25);
    border-radius: 5px;
    border-bottom: 0px;
    border-bottom-right-radius: 0px; 
    border-bottom-left-radius: 0px; 
    padding: 5px;
    /* box-shadow: 0px 0px 2px rgba(34, 34, 34, .25); */
}
.controller{
    flex: 26;
}