.container{
    flex: 1;

    flex-direction: column;
    box-sizing: border-box;
    padding-left: 10px;
}
.parameterArea{
    flex: 2;
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgba(34,34,34,.25); */
    justify-content: space-evenly;
    border-radius:8px;
    box-sizing: border-box; 
}
.parameterArea > header {
    font-size: 24px;
    font-weight: 800;
    font-family: '微软雅黑'; 
}
.parameterItem{
    flex-direction: column;
    display: flex;
    padding: 0px 10px 0px 10px;
    margin: 2px;
}
.parameterItem>.buttonGroup{
    display: flex;
    flex-wrap: wrap;
    min-width: 20px;
}
.parameterItem>.buttonGroup>div{
    border-radius: 5px;
    border:1px solid rgba(34,34,34,.25);
    padding: 3px;
    margin: 2px;
    cursor: pointer;
}
.parameterItem > label{
    flex: 1;
    font-weight: 900;
    font-family: '微软雅黑'
}
.parameterItem > select{
    flex: 5;
    height: 34px;
    border-radius: 5px;
    border: 1px solid rgba(34,34,34,.25);
    text-indent: 2em;
}
.menu{
    display: flex;
    margin: 5px;
    align-items: center;
    flex: 1;
}
.menu > div{
    position: relative;
    border-radius: 5px;
    background-color: rgb(51,122,183);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border:1px solid rgb(46, 109, 164);
    height: 34px;
    font-size: 14px;
    min-width: 65px;
    overflow: hidden;
    box-sizing: border-box;
    margin: 5px;
}
.menu > div > input{
    height: 34px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    cursor: pointer;
    z-index: 10;
}
.menu > button {
    background-color: rgb(51,122,183);
    border:1px solid rgb(46, 109, 164);
    color: #fff;
    border-radius: 5px;
    height: 34px;
    margin: 5px;
    min-width: 65px;
}
.fileInformation{
    flex: 2;
    display: flex;
    border-radius: 5px;
    border: 1px solid rgba(34,34,34,.25);
    margin: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column;
}
.fileInformation > p{
    flex: 1;
    margin: 0px;
    height: auto;
    word-wrap: break-word;
}
.splitParamsArea{
    height: 50%;
    width: 100%;
    overflow-y: auto;
}